{% extends 'base.html' %}
{% block title %}parolni o'zgartirish{% endblock title %}
{% block content %}

 <main class="formPage my-xl">
     <div class="content-box">
         <div class="formWrapper" style="text-align: center;">
             <a class="backButton" href="#"><i class="im im-angle-left"></i></a>
             <br>
                <h2>Parol muvaffaqiyatli o'zgartirildi</h2><br>
                <a href="{% url 'account' %}"><button class="btn btn--sub">Account</button></a>
             
         </div>
     </div>
 </main>

{% endblock content %}