{% extends 'base.html' %}
{% block title %}parolni o'zgartirish{% endblock title %}
{% block content %}

 <main class="formPage my-xl">
     <div class="content-box">
         <div class="formWrapper" style="text-align: center;">
             <a class="backButton" href="#"><i class="im im-angle-left"></i></a>
             <br>
                <h2>Parolni o'zgartirish</h2><br>
             <form class="form" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% for f in form %}
                      {% if forloop.first %}
                          <p>Eski parol</p>
                      {% elif forloop.counter > 1 and forloop.counter < 3 %}
                          <p>Yangi parol</p>
                      {% else %}
                          <p>Yangi parolni takrorlang</p>
                      {% endif %}
                      {{f}}
                  {% endfor %}
                  <br>
                  <input class="btn btn--sub btn--lg  my-md" type="submit" value="Saqlash" />
             </form>
             
         </div>
     </div>
 </main>

{% endblock content %}